<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Quiz ha sido desarrollado por:</h3>
    <img src="/images/javi.jpg"/>Francisco Javier Redondo Aniorte
  </body>
</html>
